/*
	Variables
	----------------------------------- */

	$font-size: 14px;
	$font-weight: 400;
	$line-height: 1.3;

	$breakpoints: (
		// Mobile first
		"large-mobile": "(min-width: 380px)",
		"large-mobile-max": "(max-width: 380px)",
		"phablet": "(min-width: 480px)",
		"phablet-max": "(max-width: 480px)",
		"small-tablet": "(min-width: 580px)",
		"tablet": "(min-width: 768px)",
		"tablet-max": "(max-width: 768px)",
		"desktop": "(min-width: 1024px)",
		"desktop-max": "(max-width: 1024px)",
		"wide": "(min-width: 1366px)",
		"wider": "(min-width: 1600px)",
		// Retina images
		"retina": "print, (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)"
	);

	$colours: (
		"lightgrey": rgb(244, 244, 244),
		"grey": rgb(83, 83, 83),
		"blue": rgb(40, 64, 153),
		"darkblue": rgb(24, 44, 117),
		"lightblue": rgb(52, 139, 194),
		"gold": rgb(117, 125, 72)
	);