// #############################################################
// core settings for "base" properties of the things
// #############################################################

// -------------------------------------------------------------
// spacing units variables
// -------------------------------------------------------------

$base-spacing-unit: 		20px !default;
$base-spacing-unit--small: 	round($base-spacing-unit / 2) !default;
$base-spacing-unit--large: 	round($base-spacing-unit * 2) !default;

// -------------------------------------------------------------
// base layout variables
// -------------------------------------------------------------

$page-wrap-width-at-widest--extra: 1530px;
$page-wrap-width-at-widest: 1390px;
$page-wrap-width-at-wide: 1280px;
$page-wrap-width-at-desktop: 990px;
$page-wrap-width-at-tablet: 760px;

// -------------------------------------------------------------
// base visual vars
// -------------------------------------------------------------

$base-radius: 		3px !default;

// -------------------------------------------------------------
// base animation vars
// -------------------------------------------------------------

$base-transition: 0.175s ease-in;
$hover-transition-duration: 350ms !default;

// -------------------------------------------------------------
// z-index page component stacking hierarchy
// -------------------------------------------------------------
// by default use lowest, if you find you need it above an element
// then move up a level. "high" and "highest" should only be used
// for exactly that. For example: A modal/overlay that has to cover 
// the fixed secondary nav and cookie disclaimer would be highest.
// -------------------------------------------------------------

$zindex:(
	lowest: 10,
	lower: 25,
	low: 50,
	mid: 100,
	high: 500,
	higher: 750,
	highest: 1000
) !default;

// -------------------------------------------------------------