// #############################################################
// core settings for "base" properties of the things
// #############################################################

// -------------------------------------------------------------
// spacing units variables
// -------------------------------------------------------------

$base-spacing-unit: 		20px !default;
$base-spacing-unit--small: 	round($base-spacing-unit / 2) !default;
$base-spacing-unit--large: 	round($base-spacing-unit * 2.2) !default;

// -------------------------------------------------------------
// base layout variables
// -------------------------------------------------------------

$page-max-width: 1600px !default;
$content-min-width: 960px !default;
$content-max-width: $content-min-width !default;
$content-max-width-wide: 1440px !default;
$content-image-max-width-wide: 1400px !default;

// -------------------------------------------------------------
// base colours (references named colors in _settings.colors.scss)
// -------------------------------------------------------------

$base-font-color: 		#363636; // #222 !default  //currently: dark grey
$base-bg-color: 		$grey--light3;
$base-bg-color-light:   #fff;

// -------------------------------------------------------------
// base visual vars
// -------------------------------------------------------------

$base-radius: 		4px !default;

// -------------------------------------------------------------
// base animation vars
// -------------------------------------------------------------

$base-transition: 0.175s ease-in;
$hover-transition-duration: 350ms !default;

// -------------------------------------------------------------
// z-index page component stacking hierarchy
// -------------------------------------------------------------
// by default use lowest, if you find you need it above an element
// then move up a level. "high" and "highest" should only be used
// for exactly that. For example: A modal/overlay that has to cover 
// the fixed secondary nav and cookie disclaimer would be highest.
// -------------------------------------------------------------

$zindex:(
	lowest: 10,
	lower: 25,
	low: 50,
	mid: 100,
	high: 500,
	higher: 750,
	highest: 1000
) !default;

// -------------------------------------------------------------