
$baseFontSize: 14px;
$baseLineHeight: 1.3;
$baseFont-weight: 400;

// -------------------------------------------------------------
// base type sizing
// -------------------------------------------------------------
$base-font-size--smaller: 	12px !default;
$base-font-size--small: 	14px !default;

$base-font-size: 	16px !default;
$base-line-height: 	22px !default;

$heading-1-size: 	26px !default;
$heading-2-size: 	22px !default;
$heading-3-size: 	18px !default;
$heading-4-size: 	16px !default;

// -------------------------------------------------------------
// base font families
// -------------------------------------------------------------

$font-stack-fallback: "Helvetica", "Arial", "Roboto", sans-serif !default;
$base-font: 'Lato', $font-stack-fallback;


// all font weights
// (!) we may not need all of the weights but
// have used them for dev purposes - remove
// as needed when going live
@mixin font-lato-thin() {
	font-weight: 100;
}

@mixin font-lato-thin-italic() {
	@include font-lato-thin;
	font-style: italic;
}

@mixin font-lato-light() {
	font-weight: 300;
}

@mixin font-lato-light-italic() {
	@include font-lato-thin;
	font-style: italic;
}

@mixin font-lato-normal() {
	font-weight: 400;
}

@mixin font-lato-normal-italic() {
	@include font-lato-normal;
	font-style: italic;
}

@mixin font-lato-bold() {
	font-weight: 700;
}

@mixin font-lato-bold-italic() {
	@include font-lato-bold;
	font-style: italic;
}

@mixin font-lato-ultra-bold() {
	font-weight: 900;
}

@mixin font-lato-ultra-bold-italic() {
	@include font-lato-ultra-bold;
	font-style: italic;
}
