
.attention-features {

	&__inner-wrap {
		position: relative;
	}

	&__list {
		@include mq($from: tablet) {
			@include display(flex);
			padding-bottom: rem(60px);
			padding-top:rem(60px);	
		}
	}

	&__feature {
		padding-bottom: rem($base-spacing-unit--large);
		padding-top: rem($base-spacing-unit--large);
		position: relative;

		@include mq($from: tablet) {
			@include flex-grow(1);
			@include flex-basis(0);
			border-right: 1px solid #000;
			padding-right: rem(50px);	
			padding-bottom: rem($base-spacing-unit);
			padding-top: rem($base-spacing-unit);
		}

		&:after {
			@include linear-gradient(to right, #fff 0%, #fff 20%, #000 21%, #000 80%, #fff 81%, #fff 100%);
			bottom: 0;
			content: "";
			display: block;
			height: 1px;
			position: absolute;
			width: 100%;

			@include mq($from: tablet) {
				display: none;
			}
		}

		&:last-child {

			@include mq($from: tablet) {
				border-right: 0;
				padding-left: rem(50px);
				padding-right: rem(50px);
			}

			&:after {
				width: 0;
			}
		}
	}

	&__copy {
		margin-bottom: rem($base-spacing-unit--large);

		@include mq($from: tablet) {
			max-width: rem(400px);
		}
	}

	&__decoration {
		bottom: rem(-110px);
		position: absolute;
		right: 25%;
	}
}