
.secondary-navigation {
	@include display(flex);
	@include justify-content(center);

	&__item {
		text-align: center;
		width: 30%;
	}

	&__link {
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;	
	}
}