
.testimonials {
	background: #ededed;
	padding-bottom: rem($base-spacing-unit--large);
	padding-top: rem($base-spacing-unit--large);

	@include mq($from: desktop) {
		padding-bottom: 0;
	}	

	&__heading {

	}
	
	&__quote {
		@include font-size(22px, 1.4);
		margin-bottom: rem($base-spacing-unit--large); 
		padding-left: rem($base-spacing-unit);
		padding-right: rem($base-spacing-unit);

		@include mq($from: desktop) {
			@include font-size($base-font-size, 1.2);
			padding-bottom: rem($base-spacing-unit--large);
			padding-left: 0;
		}

		@include mq($from: widest) {
			@include font-size($base-font-size--large, $base-line-height--large);
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__quote-source {
		color: map-get($colours, yellow);
	}
}