
.media-list {

	&__item {
		@include display(flex);
		@include flex-wrap(wrap);
		margin-bottom: 40px;
	}

	&__image {
		padding-right: 20px;
		width: 50%;
	}

	&__info {
		width: 50%;
	}

	&__cta {
		padding-top: 20px;
		text-align: center;
		width: 100%;
	}

	&__make {

	}

	&__model {
		
	}

	&__price {
		span {
			color: #8ce300;
		}
	}

	&__distance {
		
	}

	&--alt {
		background: #ffc519;
	}
}