
.secondary-navigation {
	@include display(flex);
	@include justify-content(center);

	&__item {
		@include flex-grow(1);
		text-align: center;
		width: 30%;

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	&__link {
		@include font-lato-ultra-bold;
		color: map-get($colours, dark-grey);
		text-decoration: none;
		text-transform: uppercase;
	}

	&__icon {
		fill: map-get($colours, green);
		height: rem(17px);
		margin-left: rem(5px);
		position: relative;
		top: .2em;
		width: rem(17px);
	}
}