
.header-options {
	@include transition(all .2s ease-in-out);
	@include transform(translateX(100%));
	background: #fff;
	padding: 120px $base-spacing-unit $base-spacing-unit;
	position: relative;

	@include mq($from: desktop) {
		@include transform(translateX(0));
		padding: $base-spacing-unit--small 0 0;
	}

	&__phone-number {
		@include font-size(20px, 1.2);
		margin: 0;

		@include mq($from: desktop) {
			@include font-size(24px, 1.2);
			@include align-items(center);
			padding-left: $base-spacing-unit;
		}
	}

	&__social-nav {
		position: absolute;
		right: 0;

		@include mq($from: desktop) {
			position: static;
		}
	}
}