
.site-navigation {
	padding-bottom: $base-spacing-unit;

	@include mq($from: desktop) {
		padding-bottom: 0;
		text-align: right;
	}

	&__list {
		@include mq($from: tablet) {
			@include display(flex);
			@include justify-content(space-between);
		}

		@include mq($from: desktop) {
			display: block;
		}
	}

	&__list-item {
		margin-bottom: rem($base-spacing-unit--small);

		@include mq($from: tablet) {
			display: inline-block;
		}

		@include mq($from: desktop) {
			margin-left: rem($base-spacing-unit);
		}

		@include mq($from: wide) {
			margin-left: rem($base-spacing-unit + 5);
		}

		@include mq($from: widest) {
			margin-left: rem($base-spacing-unit--large);
		}
	}

	&__link {
		@include font-size(28px, 1.2);
		@include font-lato-bold;
		color: map-get($colours, dark-grey);

		@include mq($from: tablet) {
			@include font-size($base-font-size, 1);
		}

		@include mq($from: wide) {
			@include font-size(20px, 1.2);
		}
	}
}