
.header-options {
	@include transition(all .2s ease-in-out);
	@include transform(translateX(100%));
	background: #fff;
	padding: 120px rem($base-site-wrap-padding--small) rem($base-site-wrap-padding--small);
	position: relative;

	@include mq($from: large-mobile) {
		padding-left: rem($base-site-wrap-padding);
		padding-left: rem($base-site-wrap-padding);
	}

	@include mq($from: tablet) {
		@include transition(none);
		@include transform(translateX(0));
		padding: rem($base-spacing-unit--small) 0 0;
	}

	&__phone-number {
		@include font-size(20px, 1.2);
		margin: 0;
		position: relative;
		top: -.14em;

		@include mq($from: desktop) {
			@include font-size(24px, 1.2);
			@include align-items(center);
			padding-left: rem($base-spacing-unit);
		}
	}

	&__social-nav {
		position: absolute;
		right: 0;

		@include mq($from: desktop) {
			position: static;
		}
	}
}