
.media-list {

	&__item {
		@include display(flex);
		@include flex-wrap(wrap);
		margin-bottom: rem($base-spacing-unit--large);
	}

	&__image {
		padding-right: rem(20px);
		width: 50%;

		@include mq($from: desktop) {
			width: 35%;
		}
	}

	&__info {
		width: 50%;

		@include mq($from: desktop) {
			width: 65%;
		}
	}

	&__cta {
		padding-top: rem(22px);
		text-align: center;
		width: 100%;
	}

	&--alt {
		background: map-get($colours, yellow);
	}

	&--most-viewed-products {
		@include mq($from: desktop) {
			padding-bottom: rem(60px);
			padding-top: rem(60px);
		}
	}

	&--most-viewed-products & {

		&__heading {
			@include mq($from: desktop) {
				margin-bottom: rem($base-spacing-unit--large);
			}

			@include mq($from: widest) {
				padding-left: ($page-wrap-width-at-widest--extra - $page-wrap-width-at-wide) / 2;
			}
		}

		&__list {
			@include mq($from: desktop) {
				@include display(flex);
				@include flex-grow(1);
				@include flex-basis(0);
				@include justify-content(space-between);
			}
		}

		&__item {
			@include mq($from: desktop) {
				@include flex-direction(column);
				margin-bottom: 0;
				width: 30%;
			}

			@include mq($from: wide) {
				@include flex-direction(row);
			}

			@include mq($from: widest) {
				width: 33%;
			}
		}

		&__image {
			@include mq($from: desktop) {
				padding-bottom: rem($base-spacing-unit--small);
				padding-right: 0;
				width: 100%;
			}

			@include mq($from: wide) {
				padding-right: rem($base-spacing-unit);
				width: 55%;
			}

			@include mq($from: widest) {
				width: 50%;
			}
		}

		&__info {
			@include mq($from: desktop) {
				width: 100%;
			}

			@include mq($from: wide) {
				width: 42.5%;
			}
		}

		&__make {
			
		}

		&__model {
			padding-bottom: rem(16px);
		}

		&__price {
			margin-bottom: 0;
			b {
				@include font-size(20px, 1);
				color: map-get($colours, green);

				@include mq($from: desktop) {
					@include font-size(28px, 1);
				}
			}
		}

		&__distance {
			margin-bottom: 0;

			@include mq($from: desktop) {
				margin-bottom: rem(16px);
			}
		}
	}

	&--news-features {
		@include mq($from: desktop) {
			padding-bottom: rem($base-spacing-unit--large);
			padding-top: rem($base-spacing-unit--large);
		}
	}

	&--news-features & {

		$imageWidth: 30%;

		&__info {
			@include mq($from: desktop) {
				@include display(flex);
				@include flex-direction(column);
				@include justify-content(center);
				width: 70%;
			}	
		}

		&__image {
			@include mq($from: desktop) {
				padding-right: rem(40px);
				width: $imageWidth;
			}
		}

		&__title {
			margin-bottom: rem($base-spacing-unit--small);
		}

		&__general-cta {
			@include mq($from: desktop) {
				margin-left: $imageWidth;
			}
		}
	}
}