
$heroListOptions: (
	listNumberSize: 60px,
	listNumberSize-at-tablet: 50px,
	listNumberSize-at-desktop: 65px,
	listNumberSize-at-wide: 80px,
	listNumberSize-at-widest: 100px
);


.hero-list {
	background: #ededed;

	&__heading {
		@include mq($from: tablet) {
			margin-bottom: rem(32px);
		}

		@include mq($from: desktop) {
			margin-bottom: rem(40px);
		}
	}

	@include mq($from: tablet) {
		padding-bottom: rem(28px);
		padding-top: rem(28px);	
	}

	@include mq($from: desktop) {
		padding-bottom: rem(60px);
		padding-top: rem(60px);	
	}

	&__list {
		counter-reset: section;

		@include mq($from: desktop) {
			@include display(flex);
			@include flex-grow(1);
			@include flex-basis(0);
			@include justify-content(space-between);
		}
	}

	&__list-item {
		margin-bottom: 40px;
		padding-left: rem(map-get($heroListOptions, listNumberSize) + 5);
		position: relative;

		@include mq($from: tablet) {
			margin-bottom: rem(30px);
		}

		@include mq($from: desktop) {
			padding-left: rem(map-get($heroListOptions, listNumberSize-at-desktop) + 5);
			margin-bottom: 0;
			width: 30%;
		}

		@include mq($from: wide) {
			padding-left: rem(map-get($heroListOptions, listNumberSize-at-wide) + 5);
		}

		@include mq($from: widest) {
			padding-left: rem(map-get($heroListOptions, listNumberSize-at-widest) + 5);
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			@include font-lato-bold;
			@include font-size(map-get($heroListOptions, listNumberSize), 1);
			color: map-get($colours, yellow);
			counter-increment: section; 
			content: counter(section) ".";
			left: 0;
			position: absolute;
			top: -.08em;

			@include mq($from: tablet) {
				@include font-size(map-get($heroListOptions, listNumberSize-at-tablet), 1);
			}

			@include mq($from: desktop) {
				@include font-size(map-get($heroListOptions, listNumberSize-at-desktop), 1);
			}

			@include mq($from: wide) {
				@include font-size(map-get($heroListOptions, listNumberSize-at-wide), 1);
			}

			@include mq($from: widest) {
				@include font-size(map-get($heroListOptions, listNumberSize-at-widest), 1);
			}
		}
	}

	&__item-heading {
		margin-bottom: 8px;
	}
}