.site-header {

	@include mq($from: desktop) {
		padding: rem($base-spacing-unit--large) 0;
	}

	&__logo-wrap {
		margin-bottom: rem($base-spacing-unit--large);

		@include mq($from: desktop) {
			display: inline;
		}
	}

	&__logo {
		
		display: block;
		width: 150px;

		@include mq($from: desktop) {
			height: 75px;
			width: 270px;
		}

		svg {
			max-height: 50px;

			@include mq($from: desktop) {
				height: 75px;
				max-height: none;
				width: 270px;
			}
		}
	}
}