
/*
Components
----------------------------------- */

// common

.inner-wrap {
	padding: 20px 30px;

	&--horz {
		padding-bottom: 0;
		padding-top: 0;
	}

	&--vert {
		padding-left: 0;
		padding-right: 0;
	}
}

// site header

.site-header {

	&__logo-wrap {
		margin-bottom: 40px;
	}

	&__logo {
		
		display: block;
		width: 150px;

		svg {
			max-height: 50px;
		}
	}
}

.fluid-image {
	width: 100%;
}

// site intro

.site-intro {
	display: none;
}

.cta {
	border: 3px solid #8ce300;
	border-radius: $base-radius;
	color: #302e2e;
	display: table;
	font-weight: 900;
	padding: 10px 40px;
	text-decoration: none;
	text-transform: uppercase;

	&--small {
		padding: 10px 20px;
	}

	&--center {
		margin-left: auto;
		margin-right: auto; 
	}

	&--fill {
		background-color: #8ce300;;
	}
}

// block ctas



@import 'components.site-navigation';
@import 'components.secondary-navigation';
@import 'components.search-bike-form';
@import 'components.hero-list';
@import 'components.block-ctas';
@import 'components.media-list';
@import 'components.testimonials';




