
.testimonials {
	background: map-get($colours, light-grey);
	padding-bottom: rem($base-spacing-unit--large);
	padding-top: rem($base-spacing-unit--large);

	@include mq($from: tablet) {
		background-image: url(#{$path--img}happy-customers.png);
		background-repeat: no-repeat;
		background-position: 20% bottom;
		background-size: 28%;
		min-height: 450px;
		padding-bottom: 0;
	}

	@include mq($from: desktop) {
		background-position: 80% bottom;
		background-size: 35%;
		min-height: 60px;
	}

	@include mq($from: wide) {
		background-position: 25% bottom;
		background-size: 45%;
		min-height: 480px;
	}

	@include mq($from: widest) {
		background-position: 80% bottom;
		background-size: 220px;
		min-height: rem(600px);
	}

	&__copy {
		@include mq($from: tablet) {
			padding-left: rem(350px);
		}

		@include mq($from: desktop) {
			padding-left: 0;
		}

		@include mq($from: wide) {
			padding-left: rem(370px);
		}

		@include mq($from: widest) {
			padding-left: 0;
		}
	}
	
	&__quote {
		@include font-size(22px, 1.4);
		margin-bottom: rem($base-spacing-unit--large); 
		padding-left: rem($base-spacing-unit);
		padding-right: rem($base-spacing-unit);

		@include mq($from: tablet) {
			@include font-size($base-font-size, 1.2);
			margin-bottom: 0;
			padding-bottom: rem($base-spacing-unit--large);
			padding-left: 0;
		}

		@include mq($from: widest) {
			@include font-size($base-font-size--large, $base-line-height--large);
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__speech-marks {
		color: map-get($colours, yellow);
		font-size: 1.2em;
	}

	&__quote-source {
		color: map-get($colours, yellow);
	}
}