
.testimonials {
	background: #ededed;
	padding-bottom: 40px;
	padding-top: 40px;

	&__heading {

	}
	
	&__quote {
		@include font-size(22px, 1.4);
		padding-left: 20px;
		padding-right: 20px;

		p:last-child {
			margin-bottom: 0;
		}
	}

	&__quote-source {
		color: #ffc519;
	}
}