
.site-navigation {
	padding-bottom: $base-spacing-unit;

	@include mq($from: desktop) {
		padding-bottom: 0;
		text-align: right;
	}

	&__list-item {
		margin-bottom: rem($base-spacing-unit--small);

		@include mq($from: desktop) {
			display: inline-block;
			margin-left: rem($base-spacing-unit);
		}

		@include mq($from: wide) {
			margin-left: rem($base-spacing-unit + 5);
		}

		@include mq($from: widest) {
			margin-left: rem($base-spacing-unit + 8);
		}
	}

	&__link {
		@include font-size(28px, 1.2);
		@include font-lato-bold;
		color: map-get($colours, dark-grey);
		text-decoration: none;

		@include mq($from: desktop) {
			@include font-size(20px, 1.2);
		}
	}
}