.cta {
	border: 3px solid map-get($colours, green);
	border-radius: $base-radius;
	color: map-get($colours, dark-grey);
	display: table;
	font-weight: 900;
	padding: rem($base-spacing-unit--small) rem($base-spacing-unit--large);
	text-decoration: none;
	text-transform: uppercase;

	&--small {
		padding: rem($base-spacing-unit--small) rem($base-spacing-unit);
	}

	&--massive {
		@include font-size(24px, 1.3);
		border-radius: $base-radius * 2;
	}

	&--center {
		margin-left: auto;
		margin-right: auto; 
	}

	&--center_\@_until-desktop {
		@include mq($until: desktop) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--fill {
		background-color: map-get($colours, green);
	}

	&--alt-text-colour {
		color: #fff;
	}

	&--dark {
		border-color: map-get($colours, dark-grey);
	}
}