
.secondary-navigation {
	@include display(flex);
	@include justify-content(center);

	@include mq($from: desktop) {
		padding-bottom: 0;
		float: right;
		width: auto;
	}

	&__item {
		@include flex-grow(1);
		text-align: center;
		width: 30%;

		@include mq($from: desktop) {
			margin-left: $base-spacing-unit;
			width: auto;
		}

		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	&__link {
		@include font-lato-ultra-bold;
		color: map-get($colours, dark-grey);
		text-decoration: none;
		text-transform: uppercase;

		@include mq($from: desktop) {
			@include font-size(16px, 1.2);
		}
	}

	&__icon {
		fill: map-get($colours, green);
		height: rem(17px);
		margin-left: rem(5px);
		position: relative;
		top: .2em;
		width: rem(17px);
	}
}