.split-features {

	$desktopPadding: rem($base-spacing-unit--large);

	@include mq($from: desktop) {
		@include display(flex);
	}

	&__feature {
		@include mq($from: desktop) {
			width: 50%;
		}
	}

	&__wrap {
		@include mq($from: desktop) {
			width: rem(695px);
		}

		@include mq($from: desktop) {
			width: $page-wrap-width-at-desktop / 2;
		}

		@include mq($from: wide) {
			width: $page-wrap-width-at-wide / 2;
		}

		@include mq($from: widest) {
			width: $page-wrap-width-at-widest / 2;
		}

		&--left {
			@include mq($from: desktop) {
				float: right;
				padding-right: $desktopPadding;
			}
		}

		&--right {
			@include mq($from: desktop) {
				float: left;
				padding-left: $desktopPadding;
			}
		}
	}
}