
.no-list {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.align-center {
	margin-left: auto;
	margin-right: auto;
}

.ta--center {
	text-align: center;
}

.ta--left {
	text-align: left;
}

.ta--right {
	text-align: right;
}