
// heading styles taken from BBC GEL guidelines
// http://www.bbc.co.uk/gel/guidelines/typography

.canon {
	@include font-lato-bold;

	@include mq($from: desktop) {
		@include font-size(60px, 1.15);
	}

	@include mq($from: wide) {
		@include font-size(70px, 1.15);
	}

	@include mq($from: widest) {
		@include font-size(80px, 1.15);
	}
}

.trafalgar {
	@include font-size(32px, 1.2);
	@include font-lato-normal;
	margin-bottom: 22px;

	b {
		@include font-lato-bold;
	}

	@include mq($from: desktop) {
		@include font-size(40px, 1.2);
	}

	@include mq($from: wide) {
		@include font-size(44px, 1.2);
	}

	@include mq($from: widest) {
		@include font-size(48px, 1.2);
	}
}

.double-pica {
	@include font-size(22px, 1.3);
	@include font-lato-ultra-bold;
	margin-bottom: 16px;
	text-transform: uppercase;

	@include mq($from: desktop) {
		@include font-size(28px, 1.3);
	}
}

.great-primer {
	// mid sized heading
}

.pica {
	@include font-size(16px, 1.3);

	@include mq($from: desktop) {
		@include font-size(20px, 1.4);
	}

	@include mq($from: widest) {
		@include font-size(24px, 1.2);
	}
}

.long-primer {
	// body copy size
	@include font-size($base-font-size, $base-line-height);
}

.brevier {
	// smaller copy
}

.minion {
	// even smaller copy
}
