
$form-options: (
	inputPadding: $base-spacing-unit--small,
	inputPaddingAtDesktop: 16px
);

label, input, select {
	display: block;
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label {
	@include font-lato-ultra-bold;
	margin-bottom: rem(10px);
	padding-left: map-get($form-options, inputPadding);

	@include mq($from: desktop) {
		padding-left: map-get($form-options, inputPaddingAtDesktop);
	}
}

input, select {
	background: #fff;
	border-radius: rem($base-radius);
	border: 0;
	margin-bottom: rem(28px);
	padding: map-get($form-options, inputPadding);

	@include mq($from: desktop) {
		border: 1px solid #838383;
		padding: rem(map-get($form-options, inputPaddingAtDesktop));
	}
}

select {
	padding-left: rem(map-get($form-options, inputPadding) - 2px);

	@include mq($from: desktop) {
		padding: rem(map-get($form-options, inputPaddingAtDesktop) - 2px);
	}
}