
body {
	@include font-size($base-font-size, $base-line-height);
	color: #302e2e;
	font-family: $base-font;
} 

p {
	margin-bottom: 16px;
}

cite {
	font-style: normal;
}

.no-list {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}