
$form-options: (
	inputPadding: $base-spacing-unit--small
);

label, input, select {
	display: block;
	width: 100%;
}

label {
	@include font-lato-ultra-bold;
	margin-bottom: 10px;
	padding-left: 10px;
}

$inputPadding: $base-spacing-unit--small;

input, select {
	background: #fff;
	border-radius: 3px;
	border: 0;
	margin-bottom: 28px;
	padding: $inputPadding;
}

select {
	padding-left: $inputPadding - 2px;
}